<div class="d-flex flex-colum h-100 justify-content-center py-5 mt-5">
  <div class="container">
    <div class="row">
      <!-- Single Column which is responsive -->
      <div class="col-12 col-md-6 offset-md-3">
        <div class="card">
          <div class="card-header">Redirect To IdentityProvider</div>
          <div class="card-body">
            <h3>You are not authenticated... You have to login:</h3>
            <div class="d-flex justify-content-between pt-4">
              <button (click)="login()" class="btn btn-outline-success ml-5">Login</button>
              <a href="/" class="ml-2 mr-5 btn btn-outline-secondary">Back to Home</a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
