<div class="container py-5 mt-5">


  <div class="jumbotron" style="background-color: #adf;color: black;height: calc(45vh);">
    <h1>Landing Page</h1>
    <p class="lead">
      Frontend Part of Bachelor Thesis
    </p>
    <div *ngIf="isAuthenticated$ | async as isAuthenticated; else noAuth">
      <div>
        <button type="button" class="btn btn-danger" (click)="authService.logout()">Logout</button>
        <button type="button" class="btn btn-info" (click)="authService.refreshSession()">Refresh Session</button>
      </div>
      <!-- <pre>{{ userData$ | async | json }}</pre> -->
      <p><br />Hey {{ user.name }}! Welcome on my site.</p>
    </div>
    <ng-template #noAuth>
      <button type="button" class="btn btn-lg btn-secondary" (click)="authService.login()">Login</button>
      <p><br />
        <b>
          You are not authenticated. Please login!
        </b>
      </p>
    </ng-template>
  </div>
</div>
