<nav class="navbar navbar-expand-lg navbar-light bg-light shadow">
  <a class="navbar-brand" routerLinkActive="active" routerLink="/">
    <img src="../../assets/site-logo.png" width="80" height="60" class="d-inline-block align-center pr-3" alt="">
      Project Bachelor-Thesis
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
  aria-controls="navbarCollapse"
  aria-expanded="false"
  aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse w-100 order-3 dual-collapse2" id="navbarCollapse">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        <a class="nav-link" routerLink="/home">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fetch-weatherdata">Call Protected Weather API</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="/fetch-locationdata">Call Protected Location API</a>
      </li>
    </ul>
  </div>
</nav>
